.ResultsList {
  background: white;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,.05);
  /* box-shadow: 0 0.25rem 0.375rem -0.063rem rgba(0,0,0,.05), 0 0.125rem 0.25rem -0.063rem rgba(0,0,0,.05);; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.ResultsList .ResultsList-item {
  width: 100%;
}

.ResultsList .ResultsList-item .ResultsList-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background: white;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  text-align: left;
  font-size: 1rem;
  line-height: 100%;
  transition: background 0.1s, color 0.1s;
  font-weight: bold;
  cursor: pointer;
}

/* Next time consider using [aria-selected="true"] - will need to test old browsers */
/* .ResultsList .ResultsList-item .ResultsList-button[aria-selected="true"] { */
.ResultsList .ResultsList-item .ResultsList-button.ResultsList-button-selected,
.ResultsList .ResultsList-item .ResultsList-button.ResultsList-button-selected:focus {
  background: #fdc605;
  color: black;
}

.ResultsList .ResultsList-item .ResultsList-button:hover,
.ResultsList .ResultsList-item .ResultsList-button:focus {
  background: #0058cc;
  color: white;
}

/* Clear the outline - we already provide a visible tab cursor */
.ResultsList .ResultsList-item .ResultsList-button:focus-within {
  outline: none;
}
